table{
  width: 80%; 
  
}
tr:nth-of-type(even){
    background-color: aqua;
    font-size: 40px;
}
tr:nth-of-type(odd){
    background-color: cadetblue;
}
tr{
    font-size: 20px;
}
tbody td{
    background-color: lightblue;
}
tbody th{
    background-color: lightskyblue;
}
